<svg
  width="100%"
  height="100%"
  preserveAspectRatio="xMidYMid meet"
  [attr.viewBox]="'0 0 ' + viewBoxWidth + ' ' + viewBoxHeight()"
>
  @for (side of sides; track side) {
    @for (sw of switches(); track sw) {
      <g
        appSwitch
        [center]="switchCenter(sw, side)"
        [rotationDirection]="side === 'left' ? 'cw' : 'ccw'"
        [keyLabelMap]="keyLabelMap()"
        [positionCodeMap]="positionCodeLayout[side][sw]"
        [highlightKeyCombination]="highlightKeyCombination()"
        [secondaryHighlightPositions]="secondaryHighlightPositions()"
      ></g>
    }
  }
</svg>
